<?xml version="1.0"?>

<launch>
  <arg name="ns" default="johnny5/footstep_planning" />
  <group ns="$(arg ns)">
    <!-- remapping -->
    <remap from="execute_step_plan" to="/johnny5/step_control_module/execute_step_plan" />

    <!-- start up pattern generator -->
    <include file="$(find vigir_pattern_generator)/launch/pattern_generator.launch" />
    <rosparam file="$(find thor_mang_footstep_planner)/config/pattern_generator_config.yaml" command="load" />

    <!-- start up joystick node -->
    <include file="$(find vigir_pattern_generator)/launch/joystick.launch" />

    <!-- start the pattern generator rqt gui interface-->
    <node name="pattern_generator_rqt_widget" pkg="vigir_footstep_planning_widgets" type="pattern_generator_rqt" respawn="true"/>

    <!-- specify where to load robot specific parameters -->
    <rosparam file="$(find thor_mang_footstep_planner)/config/robot_params.yaml" command="load" />
    <param name="params_path" value="$(find thor_mang_footstep_planner)/config/planner/" />
    <param name="default_params" value="preview_walking" />
  </group>
</launch>
