<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="/vigir/footstep_planning" />
  <group ns="$(arg namespace)">
    <!-- remapping -->
    <remap from="/robot_pose" to="/flor/state/pelvis_pose_world" />

    <!-- start up footstep planning system -->
    <include file="$(find vigir_footstep_planning)/launch/footstep_planning_basics.launch">
      <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- start footstep planner -->
    <node name="global_footstep_planner" pkg="vigir_footstep_planner" type="footstep_planner_node" respawn="true" output="screen" />

    <!-- load plugin configurations from YAML file to parameter server -->
    <rosparam file="$(find thor_mang_footstep_planning_plugins)/config/thor_mang_plugins.yaml" command="load" />
    <rosparam file="$(find thor_mang_footstep_planner)/config/thor_mang_plugin_sets.yaml" command="load" />
    
    <!-- specify where to load robot specific parameters and plugins -->
    <rosparam file="$(find thor_mang_footstep_planner)/config/robot_params.yaml" command="load" />
    <param name="planner_configs_path" value="$(find thor_mang_footstep_planner)/config/planner/" />
  </group>
</launch>
